accelerate==0.19
torch
torchvision
torchaudio
git+https://github.com/huggingface/diffusers.git
git+https://github.com/cloneofsimo/lora.git
git+https://github.com/microsoft/LoRA
git+https://github.com/CoderCatA5/sd-leap-booster.git
transformers
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
moviepy
natsort
